In [13]:
from mainnet_launch.data_fetching.new_databases import write_dataframe_to_table, load_table
from mainnet_launch.accounting.incentive_token_liqudiation_prices import INCENTIVE_TOKEN_PRICES_TABLE_NAME

import pandas as pd
import numpy as np

price_df = load_table(INCENTIVE_TOKEN_PRICES_TABLE_NAME)
price_df

Data loaded from table 'INCENTIVE_TOKEN_PRICES_AT_LIQUIDATION'.
load_table took 0.0062 seconds.

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,incentive_calculator_price,timestamp,tokenSymbol,chain
0,20786622,0xC0c293ce456fF0ED870ADd98a0828Dd4d2903DBF,0.000162,0.065661,0.000164,0.000172,2024-09-19 19:06:47+00:00,AURA,eth
1,20786622,0xba100000625a3754423978a60c9317c58a424e3D,0.000753,0.073584,0.000778,0.000775,2024-09-19 19:06:47+00:00,BAL,eth
2,20786622,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.000404,0.123151,0.000403,0.000419,2024-09-19 19:06:47+00:00,USDC,eth
3,20786622,0x4e3FBD56CD56c3e72c1403e103b45Db9da5B9D2B,0.000846,0.005347,0.000843,0.000852,2024-09-19 19:06:47+00:00,CVX,eth
4,20786622,0xD533a949740bb3306d119CC777fa900bA034cd52,0.000115,0.241327,0.000115,0.000116,2024-09-19 19:06:47+00:00,CRV,eth
...,...,...,...,...,...,...,...,...,...
1210,23803791,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.000831,0.026388,0.000855,0.000866,2024-12-17 00:55:29+00:00,BAL,base
1211,23803791,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.000502,0.036010,0.000501,0.000514,2024-12-17 00:55:29+00:00,AERO,base
1212,23825390,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.000117,0.009150,0.000118,0.000117,2024-12-17 12:55:27+00:00,AURA,base
1213,23825390,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.000831,0.026373,0.000846,0.000862,2024-12-17 12:55:27+00:00,BAL,base
1214,23825390,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.000484,0.035089,0.000485,0.000508,2024-12-17 12:55:27+00:00,AERO,base

In [18]:
df = pd.DataFrame()
table_name = "million_rows"
df["block"] = np.arange(0, 1_000_000)
df["sellTokenAddress"] = np.random.choice(price_df["sellTokenAddress"].unique(), size=len(df))
df["achieved_price"] = np.random.uniform(0, 1, size=len(df))
df["weth_received"] = np.random.uniform(0, 1, size=len(df))
df["oracle_price"] = np.random.uniform(0, 1, size=len(df))
df["oracle_price"] = np.random.uniform(0, 1, size=len(df))
df["timestamp"] = np.random.choice(price_df["timestamp"].unique(), size=len(df))
df["tokenSymbol"] = np.random.choice(price_df["tokenSymbol"].unique(), size=len(df))
df["chain"] = np.random.choice(price_df["chain"].unique(), size=len(df))
df

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
0,0,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.375104,0.275444,0.612663,2024-11-10 12:55:27+00:00,BAL,eth
1,1,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.465385,0.449114,0.170972,2024-12-10 10:24:47+00:00,BAL,base
2,2,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.922521,0.186528,0.502264,2024-12-07 18:24:47+00:00,DINERO,base
3,3,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.181926,0.701396,0.850599,2024-10-26 06:25:35+00:00,CVX,eth
4,4,0xC0c293ce456fF0ED870ADd98a0828Dd4d2903DBF,0.550575,0.013038,0.648439,2024-11-13 22:33:11+00:00,DINERO,base
...,...,...,...,...,...,...,...,...
999995,999995,0xba100000625a3754423978a60c9317c58a424e3D,0.053033,0.590779,0.795654,2024-11-23 18:55:31+00:00,AERO,eth
999996,999996,0x6DF0E641FC9847c0c6Fde39bE6253045440c14d3,0.907221,0.958957,0.734197,2024-12-07 10:24:47+00:00,SWISE,base
999997,999997,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.296444,0.978768,0.954468,2024-11-03 04:17:59+00:00,AURA,base
999998,999998,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.163161,0.111010,0.767463,2024-11-10 14:21:47+00:00,BAL,base
999999,999999,0xD533a949740bb3306d119CC777fa900bA034cd52,0.702689,0.799964,0.856480,2024-09-30 11:32:23+00:00,SWISE,eth

In [19]:
write_dataframe_to_table(df, "million_rows", verify_data_stored_properly=False)

Table 'million_rows' created and data inserted.
Successfully updated 'million_rows' with timestamp 1734532335.
write_dataframe_to_table took 3.3727 seconds.

In [21]:
loaded_big_table = load_table("million_rows")
loaded_big_table[loaded_big_table["block"] > 900000].copy()

Data loaded from table 'million_rows'.
load_table took 2.1725 seconds.

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
900001,900001,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.023059,0.251728,0.981829,2024-11-13 12:24:47+00:00,SWISE,base
900002,900002,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.956592,0.701792,0.078096,2024-12-15 06:07:11+00:00,AURA,eth
900003,900003,0xC0c293ce456fF0ED870ADd98a0828Dd4d2903DBF,0.904423,0.330454,0.550314,2024-09-22 23:32:23+00:00,AURA,eth
900004,900004,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.471897,0.902276,0.804951,2024-12-10 10:24:47+00:00,CRV,eth
900005,900005,0xba100000625a3754423978a60c9317c58a424e3D,0.492829,0.346503,0.202311,2024-12-13 19:07:11+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
999995,999995,0xba100000625a3754423978a60c9317c58a424e3D,0.053033,0.590779,0.795654,2024-11-23 18:55:31+00:00,AERO,eth
999996,999996,0x6DF0E641FC9847c0c6Fde39bE6253045440c14d3,0.907221,0.958957,0.734197,2024-12-07 10:24:47+00:00,SWISE,base
999997,999997,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.296444,0.978768,0.954468,2024-11-03 04:17:59+00:00,AURA,base
999998,999998,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.163161,0.111010,0.767463,2024-11-10 14:21:47+00:00,BAL,base
999999,999999,0xD533a949740bb3306d119CC777fa900bA034cd52,0.702689,0.799964,0.856480,2024-09-30 11:32:23+00:00,SWISE,eth

In [22]:
load_table("million_rows", where_clause="block > 900000")

Data loaded from table 'million_rows'.
load_table took 0.2588 seconds.

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
0,900001,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.023059,0.251728,0.981829,2024-11-13 12:24:47+00:00,SWISE,base
1,900002,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.956592,0.701792,0.078096,2024-12-15 06:07:11+00:00,AURA,eth
2,900003,0xC0c293ce456fF0ED870ADd98a0828Dd4d2903DBF,0.904423,0.330454,0.550314,2024-09-22 23:32:23+00:00,AURA,eth
3,900004,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.471897,0.902276,0.804951,2024-12-10 10:24:47+00:00,CRV,eth
4,900005,0xba100000625a3754423978a60c9317c58a424e3D,0.492829,0.346503,0.202311,2024-12-13 19:07:11+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
99994,999995,0xba100000625a3754423978a60c9317c58a424e3D,0.053033,0.590779,0.795654,2024-11-23 18:55:31+00:00,AERO,eth
99995,999996,0x6DF0E641FC9847c0c6Fde39bE6253045440c14d3,0.907221,0.958957,0.734197,2024-12-07 10:24:47+00:00,SWISE,base
99996,999997,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.296444,0.978768,0.954468,2024-11-03 04:17:59+00:00,AURA,base
99997,999998,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.163161,0.111010,0.767463,2024-11-10 14:21:47+00:00,BAL,base
99998,999999,0xD533a949740bb3306d119CC777fa900bA034cd52,0.702689,0.799964,0.856480,2024-09-30 11:32:23+00:00,SWISE,eth

In [23]:
loaded_big_table = load_table(table_name)
loaded_big_table[loaded_big_table["tokenSymbol"] == "AURA"].copy()

Data loaded from table 'million_rows'.
load_table took 2.1353 seconds.

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
36,36,0xC0c293ce456fF0ED870ADd98a0828Dd4d2903DBF,0.404324,0.603818,0.958266,2024-11-22 14:24:35+00:00,AURA,base
41,41,0xba100000625a3754423978a60c9317c58a424e3D,0.029921,0.776821,0.316401,2024-11-11 04:24:35+00:00,AURA,eth
48,48,0xD533a949740bb3306d119CC777fa900bA034cd52,0.594817,0.705148,0.811976,2024-11-26 06:24:35+00:00,AURA,eth
65,65,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.108836,0.739062,0.130530,2024-12-12 08:07:23+00:00,AURA,base
67,67,0xD533a949740bb3306d119CC777fa900bA034cd52,0.007922,0.615057,0.938794,2024-10-19 06:25:11+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
999973,999973,0x6DF0E641FC9847c0c6Fde39bE6253045440c14d3,0.534098,0.387328,0.842702,2024-12-08 18:24:47+00:00,AURA,base
999974,999974,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.551768,0.694854,0.649765,2024-11-23 14:24:35+00:00,AURA,eth
999975,999975,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.581404,0.227723,0.990034,2024-11-21 18:55:29+00:00,AURA,base
999990,999990,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.053546,0.748905,0.012329,2024-12-14 00:55:27+00:00,AURA,eth
999997,999997,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.296444,0.978768,0.954468,2024-11-03 04:17:59+00:00,AURA,base

In [24]:
load_table(table_name, where_clause='tokenSymbol = "AURA" ')

Data loaded from table 'million_rows'.
load_table took 0.3380 seconds.

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
0,36,0xC0c293ce456fF0ED870ADd98a0828Dd4d2903DBF,0.404324,0.603818,0.958266,2024-11-22 14:24:35+00:00,AURA,base
1,41,0xba100000625a3754423978a60c9317c58a424e3D,0.029921,0.776821,0.316401,2024-11-11 04:24:35+00:00,AURA,eth
2,48,0xD533a949740bb3306d119CC777fa900bA034cd52,0.594817,0.705148,0.811976,2024-11-26 06:24:35+00:00,AURA,eth
3,65,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.108836,0.739062,0.130530,2024-12-12 08:07:23+00:00,AURA,base
4,67,0xD533a949740bb3306d119CC777fa900bA034cd52,0.007922,0.615057,0.938794,2024-10-19 06:25:11+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
125186,999973,0x6DF0E641FC9847c0c6Fde39bE6253045440c14d3,0.534098,0.387328,0.842702,2024-12-08 18:24:47+00:00,AURA,base
125187,999974,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.551768,0.694854,0.649765,2024-11-23 14:24:35+00:00,AURA,eth
125188,999975,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.581404,0.227723,0.990034,2024-11-21 18:55:29+00:00,AURA,base
125189,999990,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.053546,0.748905,0.012329,2024-12-14 00:55:27+00:00,AURA,eth
125190,999997,0x1509706a6c66CA549ff0cB464de88231DDBe213B,0.296444,0.978768,0.954468,2024-11-03 04:17:59+00:00,AURA,base

In [10]:
# block, timestamp
# token address -> token symbol are redundent

# today I am working more on adding caching to the dashboard

In [25]:
df = pd.DataFrame()
table_name = "hundred_thousand_rows"
df["block"] = np.arange(0, 100_000)
df["sellTokenAddress"] = np.random.choice(price_df["sellTokenAddress"].unique(), size=len(df))
df["achieved_price"] = np.random.uniform(0, 1, size=len(df))
df["weth_received"] = np.random.uniform(0, 1, size=len(df))
df["oracle_price"] = np.random.uniform(0, 1, size=len(df))
df["oracle_price"] = np.random.uniform(0, 1, size=len(df))
df["timestamp"] = np.random.choice(price_df["timestamp"].unique(), size=len(df))
df["tokenSymbol"] = np.random.choice(price_df["tokenSymbol"].unique(), size=len(df))
df["chain"] = np.random.choice(price_df["chain"].unique(), size=len(df))
write_dataframe_to_table(df, table_name, verify_data_stored_properly=False)

Table 'hundred_thousand_rows' created and data inserted.
Successfully updated 'hundred_thousand_rows' with timestamp 1734532488.
write_dataframe_to_table took 0.4384 seconds.

In [26]:
loaded_big_table = load_table(table_name)
loaded_big_table[loaded_big_table["tokenSymbol"] == "AURA"].copy()

Data loaded from table 'hundred_thousand_rows'.
load_table took 0.2457 seconds.

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
3,3,0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2,0.409217,0.910403,0.408429,2024-12-10 20:24:23+00:00,AURA,base
8,8,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.148789,0.732869,0.949454,2024-09-30 11:32:23+00:00,AURA,base
11,11,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.127210,0.175724,0.871146,2024-11-15 00:55:27+00:00,AURA,base
21,21,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.732889,0.100861,0.278918,2024-10-22 18:25:11+00:00,AURA,base
53,53,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.034773,0.858553,0.981097,2024-11-27 12:24:47+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
99954,99954,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.979044,0.726372,0.637489,2024-12-03 06:24:35+00:00,AURA,eth
99976,99976,0xba100000625a3754423978a60c9317c58a424e3D,0.395393,0.305373,0.799225,2024-11-09 10:17:47+00:00,AURA,base
99980,99980,0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2,0.640053,0.146441,0.517872,2024-09-30 11:32:23+00:00,AURA,base
99991,99991,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.547401,0.476691,0.938529,2024-11-28 04:24:47+00:00,AURA,base
99994,99994,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.924401,0.448359,0.820919,2024-11-10 20:24:47+00:00,AURA,base

In [29]:
loaded_big_table = load_table(table_name)
print(loaded_big_table.shape)
loaded_big_table[loaded_big_table["tokenSymbol"] == "AURA"].copy()

Data loaded from table 'hundred_thousand_rows'.
load_table took 0.2297 seconds.
(100000, 8)

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
3,3,0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2,0.409217,0.910403,0.408429,2024-12-10 20:24:23+00:00,AURA,base
8,8,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.148789,0.732869,0.949454,2024-09-30 11:32:23+00:00,AURA,base
11,11,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.127210,0.175724,0.871146,2024-11-15 00:55:27+00:00,AURA,base
21,21,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.732889,0.100861,0.278918,2024-10-22 18:25:11+00:00,AURA,base
53,53,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.034773,0.858553,0.981097,2024-11-27 12:24:47+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
99954,99954,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.979044,0.726372,0.637489,2024-12-03 06:24:35+00:00,AURA,eth
99976,99976,0xba100000625a3754423978a60c9317c58a424e3D,0.395393,0.305373,0.799225,2024-11-09 10:17:47+00:00,AURA,base
99980,99980,0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2,0.640053,0.146441,0.517872,2024-09-30 11:32:23+00:00,AURA,base
99991,99991,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.547401,0.476691,0.938529,2024-11-28 04:24:47+00:00,AURA,base
99994,99994,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.924401,0.448359,0.820919,2024-11-10 20:24:47+00:00,AURA,base

In [27]:
load_table(table_name, where_clause='tokenSymbol = "AURA" ')

Data loaded from table 'hundred_thousand_rows'.
load_table took 0.0358 seconds.

/home/parker/Documents/Tokemak/v2-rebalance-dashboard/mainnet_launch/data_fetching/new_databases.py:151: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["timestamp"] = pd.to_datetime(df["timestamp"], utc=True)

,block,sellTokenAddress,achieved_price,weth_received,oracle_price,timestamp,tokenSymbol,chain
0,3,0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2,0.409217,0.910403,0.408429,2024-12-10 20:24:23+00:00,AURA,base
1,8,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.148789,0.732869,0.949454,2024-09-30 11:32:23+00:00,AURA,base
2,11,0x4158734D47Fc9692176B5085E0F52ee0Da5d47F1,0.127210,0.175724,0.871146,2024-11-15 00:55:27+00:00,AURA,base
3,21,0x940181a94A35A4569E4529A3CDfB74e38FD98631,0.732889,0.100861,0.278918,2024-10-22 18:25:11+00:00,AURA,base
4,53,0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913,0.034773,0.858553,0.981097,2024-11-27 12:24:47+00:00,AURA,eth
...,...,...,...,...,...,...,...,...
12503,99954,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.979044,0.726372,0.637489,2024-12-03 06:24:35+00:00,AURA,eth
12504,99976,0xba100000625a3754423978a60c9317c58a424e3D,0.395393,0.305373,0.799225,2024-11-09 10:17:47+00:00,AURA,base
12505,99980,0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2,0.640053,0.146441,0.517872,2024-09-30 11:32:23+00:00,AURA,base
12506,99991,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.547401,0.476691,0.938529,2024-11-28 04:24:47+00:00,AURA,base
12507,99994,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0.924401,0.448359,0.820919,2024-11-10 20:24:47+00:00,AURA,base